@* @model string *@
@model  HomeIndexViewModel
@using System.Linq


@{
    ViewData["Title"] = "Home Page";
    @* var names = new List<string> { "Luis", "Jorge", "Carlos" }; *@
}

<partial name="_Presentation" model="Model.Person" />
<partial name="_Skills" model="Model.Person" />

@if (Model.Projects is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>My projects</h1>
        <p>Here are some of my projects</p>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            @{
    var projects = Model.Projects.ToList();
}
            @for (int i = 0; i < projects.Count; i++)
            {
                var project = projects[i];
                var carouselId = $"carouselProject{i}";

                <div class="col">
                    <div class="card h-100">
                        @if (project.ImageUrls.Count > 0)
                        {
                            <div id="@carouselId" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    @for (int j = 0; j < project.ImageUrls.Count; j++)
                                    {
                                        var image = project.ImageUrls[j];
                                        var activeClass = j == 0 ? "active" : "";
                                        <div class="carousel-item @activeClass">
                                            <img src="@Url.Content(image)" class="d-block w-100" alt="Project image">
                                        </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#@carouselId" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#@carouselId" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="text-center p-3">
                                <em>No images available</em>
                            </div>
                        }

                        <div class="card-body">
                            <h5 class="card-title">@project.Name</h5>
                            <p class="card-text">@project.Description</p>
                        </div>
                        <div class="card-footer">
                            <a href="@project.Url" class="btn btn-primary" target="_blank" rel="noopener noreferrer">View project</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}